:root {
  --navbarWidth     : 55px;
  --navbarMargin    : 0px;
  --animationSpeed  : 0.15s;
  --tab-max-width   : 5px;
  --tab-min-height: 25px !important;
  --arrowpanel-menuitem-padding: 8px 8px !important;
}


:root:not([uidensity="compact"]):not([uidensity="touch"])

#urlbar-input {
height: 20px !important;
font-size: 12px !important;
}

#tabbrowser-tabs {
    margin-top  : 0px !important;
    margin-left : 0px !important;
    height: 10px !important;
}

.tab-text {
  margin-top:1px;
  font-size: 9pt !important;
}


.tab-background {
    border-radius: 20px 20px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.tab-background:is([selected], [multiselected]){
    background:linear-gradient(to right,#9AA5CD,#191A25);
    opacity:30%;
}

#TabsToolbar{
  z-index: 1000 !important;
}

.tabbrowser-tab[selected],[multiselected] {
  color: burlywood !important;
}

.tabbrowser-tab:not([selected]):not(:hover) .tab-content {
  opacity:50%;
}

 #TabsToolbar .tab-close-button {
   opacity: 30%;
}

#tabs-newtab-button{
  opacity: 50%;
  align-items: right; 
}

#TabsToolbar .tab-icon-image {
    height: 14px !important; /* Matches the smaller close button */
    width: 14px !important;
}


#nav-bar {
 margin-top: 0px;//var(--navbar-margin);
 margin-bottom: 0px;
  z-index: 0;
  transition: all 0.2s ease !important;
  opacity: 0.0;
 // visibility: hidden;
  #pageAction-panel-bookmark,
  #star-button {
    opacity:0.0;}
}
#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
  margin-top: 0px;
  margin-bottom: 0px;//: var(--navbar-margin);
  z-index: 100;
  order: 0;
  opacity: 0.5;
//visibility: visible;
  #pageAction-panel-bookmark,
  #star-button {
    list-style-image: "fav.png";
  }
}


menupopup > menuitem, menupopup > menu{
  padding-block: 4px !important;
  min-height: 0px !important;
}

///////////////////////////////////////////////////////////////////////////
